summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

fieldset {
  border: 0 none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header_left {
  display: flex;
  align-items: center;
}

.logo_img {
  width: 59px;
  height: 51px;
  margin-right: 13px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.logo_pink {
  text-decoration: none;
  font-size: 27px;
  line-height: 32px;
  font-weight: 600;
  color: #F16D7F;
}

.form_header {
  display: flex;
  align-items: center;
  height: 38px;
  padding-left: 20px;
  border: 1px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  height: 38px;
  border-radius: 3px 0px 0px 3px;
  margin-left: 10px;
}

.btn_browse {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 38px;
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  font-size: 11px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}

.btn_browse:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}

.btn__details {
  width: 27px;
  height: 38px;
}
.btn__details summary::before {
  margin-left: 10px;
  margin-top: 14px;
  content: " ";
  display: inline-block;
  background: url(img/detailsArrow.png);
  height: 0.8em;
  width: 0.8em;
  background-size: 0.8em 0.8em;
}
.btn__details[open] summary::before {
  transform: rotate(90deg);
}
.btn__summary {
  position: absolute;
  width: 210px;
  height: 530px;
  background-color: #ffffff;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #4d4d4d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.btn__summary-title {
  padding-top: 3px;
  text-decoration: none;
  box-sizing: border-box;
  width: 180px;
  border-bottom: 1px solid #9f9f9f;
  padding-bottom: 5px;
  margin-left: 10px;
  background-color: #ffffff;
}
.btn__summary-link {
  text-decoration: none;
  box-sizing: border-box;
  background-color: #ffffff;
  margin-left: 10px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}
.btn__summary-link:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: #F16D7F;
}

.btn_browse_text {
  font-size: 11px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
  padding-left: 10px;
}

.btn_browse img {
  width: 9px;
  height: 7px;
  padding-left: 8px;
  padding-right: 8px;
}

.input_browse {
  width: 280px;
  height: 36px;
  border: 1px solid #e6e6e6;
  border-radius: 0px 0px 0px 0px;
  font-size: 11px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  display: flex;
}

.input_browse:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}

.btn_search {
  width: 36px;
  height: 38px;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  font-size: 11px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  background-color: #fff;
}

.btn_search:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}

.btn_search_img {
  width: 12px;
  height: 12px;
  padding: 12px 12px 13px 13px;
}

.header_right {
  display: flex;
  align-items: center;
  width: 188px;
  height: 38px;
  flex-direction: row;
  justify-content: space-between;
}

.backet_link {
  width: 32px;
  height: 38px;
}

.backet_img {
  width: 28px;
  height: 26px;
  padding-top: 13px;
  border-radius: 30%;
}

.backet_img:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}

.btn_account {
  width: 130px;
  height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #F16D7F;
  border: 1px;
}

.btn_account:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}

.btn_my_acc_text {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding-left: 19px;
}

.btn_arrow_acc {
  background-color: #F16D7F;
  padding-left: 10px;
  padding-right: 12px;
}

.navigation {
  height: 51px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu {
  width: 460px;
  height: 51px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu__parts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 60px;
  text-decoration: none;
  list-style-type: none;
  border: #4d4d4d;
}
.menu__list {
  position: relative;
}
.menu__list:hover .menu__box {
  display: flex;
}
.menu__last:hover .menu__box {
  right: 0;
  left: auto;
}
.menu__last:hover .menu__box::before {
  right: 50px;
  left: auto;
}
.menu__link {
  position: relative;
  padding: 15px;
  display: block;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s;
}
.menu__link:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: #F16D7F;
}
.menu__box {
  position: absolute;
  top: 40px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #9f9f9f;
  padding: 20px;
  display: none;
}
.menu__box::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: #F16D7F;
  top: -9px;
  left: 16px;
  right: auto;
  transform: rotate(45deg);
  border-top: 1px solid #9f9f9f;
  border-left: 1px solid #9f9f9f;
  background-color: #ffffff;
}
.menu__elements {
  margin-right: 26px;
}
.menu__elements:last-of-type {
  margin-right: 0px;
}
.menu__add-marg {
  margin-top: 13px;
}
.menu__title {
  position: relative;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  padding-bottom: 8px;
  border-bottom: 1px solid #9f9f9f;
  width: 235px;
  margin-bottom: 16px;
}
.menu__title:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: #F16D7F;
}
.menu__item_link {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  display: flex;
  flex-direction: column;
}
.menu__item_link:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: #F16D7F;
}
.menu__img {
  margin-top: 18px;
}
.menu__img:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}

.brand {
  background-color: #e8e8e8;
}

.brand__content {
  height: 613px;
  background-image: url(/img/brand_back.jpg);
  background-position: 0 -51px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  max-width: 100%;
}
.brand__content_main {
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.brand__content_h2 {
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: 0.025em;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
  margin-bottom: 12px;
}
.brand__content_p {
  font-size: 40px;
}
.brand__content_p_pink {
  font-size: 40px;
  color: #F16D7F;
}

.offer_grid {
  margin-top: 98px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 560px);
  grid-template-rows: repeat(3, 261px);
  gap: 20px;
}
.offer_grid__man {
  position: relative;
  grid-row: 1/span 2;
}
.offer_grid__man_text {
  position: absolute;
  background-color: #ffffff;
  height: 82px;
  margin-top: 26px;
  padding-left: 19px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.offer_grid__woman {
  position: relative;
  grid-column-start: 2;
}
.offer_grid__woman_text {
  position: absolute;
  background-color: #ffffff;
  height: 82px;
  margin-top: 26px;
  padding-left: 19px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.offer_grid__wallet {
  position: relative;
  grid-row-start: 3;
}
.offer_grid__wallet_text {
  position: absolute;
  background-color: #ffffff;
  height: 82px;
  margin-top: 26px;
  padding-left: 19px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.offer_grid__child {
  position: relative;
  grid-row: 2/span 2;
}
.offer_grid__child_text {
  position: absolute;
  background-color: #ffffff;
  height: 82px;
  margin-top: 26px;
  padding-left: 19px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.offer_grid__man_img {
  width: 100%;
  position: absolute;
}
.offer_grid__woman_img {
  width: 100%;
  position: absolute;
}
.offer_grid__wallet_img {
  width: 100%;
  position: absolute;
}
.offer_grid__child_img {
  width: 100%;
  position: absolute;
}

.offer_text__h2 {
  color: #222222;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}
.offer_text__h3 {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
  line-height: 30px;
  text-transform: uppercase;
}

.featured_title {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: 59px;
}
.featured_title_h2 {
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
  margin-bottom: -16px;
}
.featured_title_p {
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}

.featured {
  padding-bottom: 50px;
  max-height: 767px;
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.featured_item {
  width: 263px;
  height: 364px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  margin-right: 16px;
}
.featured__item_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: stretch;
  flex-wrap: wrap;
}
.featured_item_text_h4 {
  padding-top: 19px;
  padding-bottom: 17px;
  padding-left: 14px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.featured_item_text_price {
  padding-left: 14px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.browse_button {
  padding-top: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.browse_button_button {
  padding: 15px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #F16D7F;
  border: 2px solid #F16D7F;
}
.browse_button_button:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}
.browse_button_arrow {
  padding-left: 9px;
  padding-bottom: 3px;
  font-size: 15px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.special {
  width: 1140px;
  height: 529px;
  padding-bottom: 97px;
  padding-top: 113px;
  display: flex;
  flex-direction: row-reverse;
}
.special_left {
  width: 767px;
  height: 529px;
  background-image: url(/img/special_offer.png);
  filter: alpha(opacity=10);
  width: 100%;
  background-repeat: no-repeat;
}
.special__left_b {
  width: 767px;
  height: 529px;
  background-image: url(/img/special_offer.png);
  width: 100%;
  background-repeat: no-repeat;
  filter: alpha(opacity=10);
  opacity: 0.9;
}
.special_left_h4 {
  padding-top: 146px;
  padding-left: 39px;
  font-size: 53.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.special_left_span {
  color: #F16D7F;
}
.special_left_p {
  padding-left: 39px;
  font-size: 32.2px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.special_right {
  position: absolute;
  width: 373px;
  height: 529px;
  background-color: #222224;
  display: flex;
  flex-direction: row;
}
.special_right_svg {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-left: 36px;
  width: 45px;
  height: 32px;
  gap: 114px;
}
.special_right_text {
  display: flex;
  flex-direction: column;
  padding-top: 47px;
  padding-left: 33px;
  padding-right: 43px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}
.special_right_text_h3 {
  padding-bottom: 19px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.special_right_text_p {
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.bot {
  height: 448px;
  background-image: url(img/subscribeBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  min-height: 448px;
  flex-direction: row;
  align-items: center;
}

.bottom_left {
  margin-left: -15px;
  padding-top: 83px;
}
.bottom_left_h2 {
  width: 386px;
  height: 68px;
  display: flex;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #222222;
  font-style: italic;
  letter-spacing: 0.025em;
  text-align: left;
}
.bottom_left_h3 {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding-top: 19px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #F16D7F;
}
.bottom_left_h3_span {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222222;
  font-style: normal;
}
.bottom_left_links {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 41px;
  padding-bottom: 156px;
  gap: 13px;
}
.bottom_left_links_link {
  width: 38px;
  height: 4px;
  background-color: #e6e6e6;
}
.bottom_left_links_link:hover {
  width: 38px;
  height: 4px;
  background-color: #F16D7F;
}

.bottom_left_portrait {
  width: 83px;
  height: 83px;
  padding-top: 83px;
  padding-bottom: 224px;
}

.bottom_left span {
  color: #222222;
  font-family: "Lato";
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.bottom_right {
  width: 557px;
  height: 142px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.bottom_right h1 {
  color: #222222;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.bottom_right p {
  color: #222222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.form {
  display: flex;
}

.input {
  margin-top: 32px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  background: #ffffff;
  box-sizing: border-box;
  width: 100%;
  height: 49px;
  padding-left: 20px;
  border: 1px;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222222;
  opacity: 0.67;
}

.field:hover {
  box-shadow: 2px 4px 25px rgba(54, 54, 54, 0.21);
  background-color: #F16D7F;
  color: #ffffff;
  transform: scale(1.1);
  transition: 0.7s;
}

.field {
  margin-top: 32px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  width: 100px;
  height: 49px;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #F16D7F;
  border: 1px;
  padding: 7px 7px 6px 16px;
  cursor: pointer;
}

.add_navi {
  height: 458px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.add_navi_1col {
  width: 427px;
  gap: 29px;
}
.add_navi_1col_text {
  padding-top: 29px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}
.add_navi_2col {
  width: 200px;
}
.add_navi_2col_h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #F16D7F;
  display: flex;
}
.add_navi_2col_categories {
  list-style-type: none;
  padding-top: 20px;
  height: 179px;
}
.add_navi_2col_links {
  font-size: 16px;
  line-height: 59px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  text-decoration: none;
  line-height: 2.8;
}
.add_navi_2col_h3:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: #222222;
}
.add_navi_2col_links:hover {
  transform: scale(1.8);
  transition: 0.3s;
  color: #F16D7F;
}

.footer {
  height: 79px;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer_text {
  font-size: 9px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}
.footer_links {
  display: flex;
  gap: 8px;
  color: #e6e6e6;
}
.footer_links_img:hover {
  background-color: #F16D7F;
  color: #F16D7F;
  transform: scale(1.4);
  transition: 0.7s;
}

.top-head {
  background-color: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  color: #F16D7F;
}

.breadcrumbs__link {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #5D5D5D;
  text-decoration: none;
}
.breadcrumbs__link_site {
  font-weight: 700;
  color: #F16D7F;
}

.breadcrumbs__link:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: #F16D7F;
  color: #F16D7F;
}

.breadcrumbs__link_site:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: #F16D7F;
  color: #222222;
}

.carousel-box {
  height: 777px;
  background-color: #f7f7f7;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.carousel__img {
  padding-top: 11px;
  width: 597px;
  height: 724px;
  background-attachment: scroll;
}
.carousel__move {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.14);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.carousel__move:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
  background-color: #F16D7F;
}
.carousel__arrows {
  width: 9px;
  height: 12px;
  font-family: "Font Awesome";
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.control-box {
  width: 1141px;
  height: 730px;
}

.control__upper {
  position: absolute;
  width: 1141px;
  height: 730px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: -73px;
}
.control__upper_h2 {
  margin-top: -30px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #F16D7F;
}
.control__upper_a {
  width: 147px;
  height: 1px;
  background-color: #9f9f9f;
  border: 1px solid #e6e6e6;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control__upper_a_img {
  width: 63px;
  height: 4px;
  background-color: #F16D7F;
}
.control__upper_h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-top: 17px;
}
.control__upper_p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #9f9f9f;
  width: 600px;
  height: 150px;
  margin-top: 50px;
  text-align: center;
}
.control__upper_lateral {
  display: flex;
  gap: 44px;
}
.control__upper_h4 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #9f9f9f;
}
.control__upper_span {
  color: #4d4d4d;
}
.control__upper_h5 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #F16D7F;
  margin-top: 37px;
}
.control__upper_line {
  width: 642px;
  height: 1px;
  background-color: #e6e6e6;
  margin-top: 43px;
}

.control__choose-blocks {
  margin-top: 63px;
  gap: 53px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.control__parts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.control__text_details {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #4d4d4d;
}
.control__details {
  width: 144px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  padding-left: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.control__details:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}
.control__details option {
  width: 144px;
  height: 100px;
}
.control__quantity {
  width: 144px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  padding-left: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.control__quantity:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}
.control__add_to_btn {
  margin-top: 28px;
  width: 537px;
  height: 55px;
  background-color: #ffffff;
  border: 1px solid #F16D7F;
  gap: 15px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.control__add_to_btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}
.control__add_to_btn_img {
  width: 26px;
  height: 24px;
}
.control__add_to_btn_p {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #F16D7F;
}

.maylike {
  width: 1141px;
  height: 645px;
}
.maylike__h2 {
  padding-top: 30px;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  text-align: center;
}
.maylike__content {
  padding-top: 72px;
  gap: 32px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.maylike__block {
  width: 263px;
  height: 364px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-end;
  align-items: flex-start;
}
.maylike__back {
  position: relative;
  width: 261px;
  height: 280px;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.maylike__img {
  position: relative;
  width: 93px;
  height: 270px;
}
.maylike__h3 {
  position: relative;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #9f9f9f;
  margin-top: 18px;
  padding-left: 15px;
}
.maylike__price {
  position: relative;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #F16D7F;
  padding-left: 15px;
  padding-top: 17px;
}
.maylike__img_special {
  width: 261px;
  height: 280px;
}

.product-details {
  width: 1141px;
  height: 529px;
  padding-top: 90px;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.product-details__head {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 22px;
}
.product-details__left {
  margin-right: 180px;
}
.product-details__product {
  padding-top: 43px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
}
.product-details__details {
  gap: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.product-details__img {
  width: 100px;
  height: 115px;
  padding-bottom: 20px;
}
.product-details__name {
  display: flex;
  margin-right: 110px;
}
.product-details__title {
  margin-top: 5px;
  margin-left: 21px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.product-details__description {
  margin-top: 28px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}
.product-details__description__span {
  font-weight: 300;
  color: #6f6e6e;
}
.product-details__unite-price {
  margin-left: 10px;
}
.product-details__quantity {
  box-sizing: border-box;
  margin-left: 20px;
  width: 54px;
  height: 30px;
  border: 1px solid #9f9f9f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-details__shipping {
  margin-left: 10px;
}
.product-details__subtotal {
  margin-left: 25px;
  margin-right: 25px;
}
.product-details__action {
  padding-right: 15px;
}
.product-details__action:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: #F16D7F;
}

.clear-shopping-buttons {
  padding-top: 190px;
  width: 1141px;
  height: 134px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clear-shopping-buttons__clear {
  width: 235px;
  height: 50px;
  border-color: #9f9f9f;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}
.clear-shopping-buttons__clear:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}
.clear-shopping-buttons__shopping {
  width: 225px;
  height: 50px;
  border-color: #9f9f9f;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}
.clear-shopping-buttons__shopping:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}

.user-data {
  width: 1141px;
  height: 350px;
  display: flex;
  flex-direction: row;
}
.user-data__adress {
  display: flex;
  flex-direction: column;
}
.user-data__title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.user-data__country-select {
  position: relative;
  margin-top: 20px;
  width: 355px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}
.user-data__country-values {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  width: 355px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  color: #4d4d4d;
}
.user-data__country-select.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #F16D7F transparent transparent transparent;
}
.user-data__input-state {
  width: 333px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 0 12px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  color: #9f9f9f;
}
.user-data__quote-btn {
  margin-top: 23px;
  width: 100px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d4d4d;
}
.user-data__quote-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: #F16D7F;
}
.user-data__coupon {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
}
.user-data__title2 {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.user-data__paraph {
  margin-top: 28px;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #222222;
}
.user-data__coupon-btn {
  margin-top: 25px;
  width: 118px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d4d4d;
}
.user-data__coupon-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: #F16D7F;
}
.user-data__total {
  margin-left: 36px;
  width: 360px;
  height: 214px;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.user-data__sub-total {
  margin-top: 40px;
  margin-right: 41px;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #4d4d4d;
}
.user-data__grand-total {
  margin-top: 14px;
  margin-right: 41px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  border-bottom: 1px solid #9f9f9f;
  padding-bottom: 22px;
}
.user-data__grand-total-span {
  color: #F16D7F;
}
.user-data__underline {
  padding-bottom: 22px solid #4d4d4d;
}
.user-data__proceed-btn {
  margin-top: 17px;
  margin-right: 40px;
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}
.user-data__proceed-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}

.checkout {
  padding-top: 89px;
  padding-bottom: 890px;
  width: 1600px;
  height: 13px;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
}
.checkout__main {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px;
}
.checkout__items {
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.checkout__content {
  display: flex;
  flex-direction: row;
}
.checkout__guest-or-regist {
  display: flex;
  flex-direction: column;
}
.checkout__title {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
  box-sizing: border-box;
  display: block;
  padding-top: 39px;
  padding-left: 40px;
}
.checkout__paraph {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #9f9f9f;
  box-sizing: border-box;
  display: block;
  padding-top: 15px;
  padding-left: 40px;
}
.checkout__labels {
  padding-top: 34px;
  padding-left: 40px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
}
.checkout__input-guest {
  padding-bottom: 20px;
  box-sizing: border-box;
}
.checkout__input-guest:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: #F16D7F;
}
.checkout__input-regist {
  margin-top: 20px;
}
.checkout__input-regist:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: #F16D7F;
}
.checkout__span {
  box-sizing: border-box;
  padding-left: 20px;
}
.checkout__h2 {
  box-sizing: border-box;
  padding-left: 40px;
  padding-top: 33px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.checkout__p {
  box-sizing: border-box;
  padding-left: 40px;
  padding-top: 33px;
  padding-bottom: 33px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #9f9f9f;
}
.checkout__p2 {
  padding-left: 40px;
  box-sizing: border-box;
  height: 20px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #9f9f9f;
}
.checkout__p3 {
  padding-top: 5px;
  padding-left: 40px;
  padding-bottom: 38px;
  box-sizing: border-box;
  height: 20px;
  width: 300px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #9f9f9f;
}
.checkout__btn-continue {
  margin-top: 38px;
  margin-left: 40px;
  width: 180px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}
.checkout__btn-continue:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}
.checkout__btn-continue-span {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d4d4d;
}
.checkout__forms {
  padding-left: 349px;
}
.checkout__legend-input {
  padding-left: 40px;
  padding-top: 27px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}
.checkout__legend-input-span {
  color: red;
  font-size: 16px;
  font-weight: 900;
}
.checkout__input {
  margin-left: 40px;
  margin-top: 16px;
  padding: 0 10px;
  width: 390px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}
.checkout__input:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}
.checkout__required-fields {
  padding-top: 22px;
  padding-bottom: 32px;
  padding-left: 40px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: red;
}
.checkout__log-in-btn {
  margin-left: 40px;
  margin-top: 20px;
  width: 180px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d4d4d;
}
.checkout__log-in-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=style.css.map */