@mixin centerflex() {
    display: flex;
    align-items: center;
}

@mixin hoverBtnSngl {
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
}

@mixin hoverTextPink {
    transform: scale(1.1);
    transition: 0.3s;
    color: $colorPinkMain;
}

@mixin offertext {
    position: absolute;
    background-color: $colorBackgroundMain;
    height: 82px;
    margin-top: 26px;
    padding-left: 19px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@mixin linkSize {
    box-sizing: border-box;
    width: 90px;
}

$colorBlackMain: #222222;
$colorPinkMain: #F16D7F;
$colorPinkBack: #f8f3f4;
$widhSite: 1140px;
$colorBackgroundMain: #ffffff;
$colorBorderGrey: #e6e6e6;
$colorTextGrey: #9f9f9f;
$colorTextDarkGrey: #4d4d4d;
$colorShowroom: #f7f7f7;
summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

fieldset {
    border: 0 none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - $widhSite / 2);
    padding-right: calc(50% - $widhSite / 2);
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: $colorBackgroundMain;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

// HEADER LEFT ------------------------------
.header_left {
    @include centerflex();
}

.logo_img {
    width: 59px;
    height: 51px;
    margin-right: 13px;
}

.logo {
    @include centerflex();
    text-decoration: none;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $colorBlackMain;
    &_pink {
        text-decoration: none;
        font-size: 27px;
        line-height: 32px;
        font-weight: 600;
        color: $colorPinkMain;
    }
}

.form_header {
    @include centerflex();
    height: 38px;
    padding-left: 20px;
    border: 1px;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.67;
    height: 38px;
    border-radius: 3px 0px 0px 3px;
    margin-left: 10px;
}

.btn_browse {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 87px;
    height: 38px;
    border: 1px solid $colorBorderGrey;
    border-radius: 3px 0px 0px 3px;
    font-size: 11px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: $colorBlackMain;
    &_text {
        padding-right: 30px;
    }
}

.btn_browse:hover {
    @include hoverBtnSngl();
}

.btn {
    position: relative;
    &__details {
        width: 27px;
        height: 38px;
        padding-top: 5px;
        padding-left: 60px;
        position: absolute;
        opacity: 1000;
    }
    &__details.interface__summary::before {
        content: ' ';
        display: inline-block;
        background: url(img/detailsArrow.png);
        height: .8em;
        width: .8em;
        background-size: .8em .8em;
    }
    &__details[open].interface__summary::before {
        transform: rotate(180deg);
    }
    &__summary-menu {
        opacity: 1000;
        position: absolute;
        right: 5%;
        width: 210px;
        height: 530px;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorTextDarkGrey;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        &::before {
            content: '';
            display: block;
            position: absolute;
            box-sizing: border-box;
            display: inline-block;
        }
    }
    &__summary-title {
        opacity: 1000;
        padding-top: 3px;
        text-decoration: none;
        box-sizing: border-box;
        width: 180px;
        border-bottom: 1px solid $colorTextGrey;
        padding-bottom: 5px;
        margin-left: 10px;
        background-color: $colorBackgroundMain;
    }
    &__summary-link {
        opacity: 1000;
        text-decoration: none;
        box-sizing: border-box;
        background-color: $colorBackgroundMain;
        margin-left: 10px;
        font-size: 14px;
        line-height: 28px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: $colorBlackMain;
        &:hover {
            @include hoverTextPink();
        }
    }
}

.btn-drop-left {
    position: relative;
    &__menu {
        margin-top: 32px;
        width: 262px;
        height: 440px;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorTextDarkGrey;
        border-radius: 5px;
        position: absolute;
        right: 50px;
        left: auto;
    }
    &__product {
        width: 240px;
        padding-bottom: 16px;
        margin-top: 19px;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $colorBorderGrey;
        margin-left: 17px;
    }
    &__product-img {
        width: 72px;
        height: 85px;
        &:hover {
            @include hoverBtnSngl();
        }
    }
    &__product-content {
        display: flex;
        flex-direction: column;
        margin-left: 14px;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    &__product-h3 {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorBlackMain;
    }
    &__product-stars {
        display: flex;
        flex-direction: row;
    }
    &__product-png {
        width: 20px;
        height: 20px;
        &:hover {
            width: 20px;
            height: 20px;
            color: gold;
            background: url(/img/accountStarHover2.png);
            width: 20px;
            height: 20px;
            transform: scale(1.1);
            transition: 0.3s;
        }
    }
    &__product-paraph {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 400;
        // text-transform: uppercase;
        color: #f16d7f;
        margin-bottom: 10px;
    }
    &__product-cross {
        width: 12px;
        height: 12px;
        margin-left: 20px;
        margin-top: 35px;
        &:hover {
            @include hoverTextPink();
        }
    }
    &__total {
        margin-top: 19px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorBlackMain;
    }
    &__buttons {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 11px;
    }
    &__checkout {
        text-decoration: none;
        width: 225px;
        height: 50px;
        box-sizing: border-box;
        border: 1px solid $colorPinkMain;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorPinkMain;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            @include hoverBtnSngl();
        }
    }
    &__cart {
        text-decoration: none;
        width: 225px;
        height: 50px;
        box-sizing: border-box;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorBorderGrey;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorTextGrey;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            @include hoverBtnSngl();
        }
    }
}

.btn_browse_text {
    font-size: 11px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: $colorBlackMain;
    padding-left: 10px;
}

.btn_browse img {
    width: 9px;
    height: 7px;
    padding-left: 8px;
    padding-right: 8px;
}

.input_browse {
    width: 280px;
    height: 36px;
    border: 1px solid $colorBorderGrey;
    border-radius: 0px 0px 0px 0px;
    font-size: 11px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    display: flex;
}

.input_browse:hover {
    @include hoverBtnSngl();
}

.btn_search {
    width: 36px;
    height: 38px;
    border: 1px solid $colorBorderGrey;
    border-radius: 0px 3px 3px 0px;
    font-size: 11px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    background-color: #fff;
}

.btn_search:hover {
    @include hoverBtnSngl();
}

.btn_search_img {
    width: 12px;
    height: 12px;
    padding: 12px 12px 13px 13px;
}

// HEADER RIGHT ------------------------------
.header_right {
    display: flex;
    align-items: center;
    width: 188px;
    height: 38px;
    flex-direction: row;
    justify-content: space-between;
}

.backet_link {
    width: 32px;
    height: 38px;
}

.backet_img {
    width: 28px;
    height: 26px;
    padding-top: 13px;
    border-radius: 30%;
}

.backet_img:hover {
    @include hoverBtnSngl();
}

.btn_account {
    width: 130px;
    height: 38px;
    @include centerflex();
    text-align: center;
    background: $colorPinkMain;
    border: 1px;
}

.btn_account:hover {
    @include hoverBtnSngl();
}

.btn_my_acc_text {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding-left: 19px;
}

.btn_arrow_acc {
    background-color: $colorPinkMain;
    margin-left: 10px;
    margin-right: 12px;
    &:hover {
        transform: scale(1.5);
        transition: 0.3s;
        box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
    }
}

// NAVIGATION --------------------
.navigation {
    height: 51px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu {
    width: 460px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__parts {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        gap: 60px;
        text-decoration: none;
        list-style-type: none;
        border: $colorTextDarkGrey;
    }
    &__list {
        position: relative;
        // @include linkSize();
    }
    &__list:hover .menu__box {
        display: flex;
    }
    &__last:hover .menu__box {
        right: 0;
        left: auto;
    }
    &__last:hover .menu__box::before {
        right: 50px;
        left: auto;
    }
    &__link {
        position: relative;
        padding: 15px;
        display: block;
        color: $colorTextDarkGrey;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.2s;
    }
    &__link:hover {
        transform: scale(1.1);
        transition: 0.3s;
        color: $colorPinkMain;
    }
    &__box {
        position: absolute;
        top: 40px;
        background-color: $colorBackgroundMain;
        border-radius: 3px;
        border: 1px solid $colorTextGrey;
        padding: 20px;
        display: none;
    }
    &__box::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        background-color: $colorPinkMain;
        top: -9px;
        left: 16px;
        right: auto;
        transform: rotate(45deg);
        border-top: 1px solid $colorTextGrey;
        border-left: 1px solid $colorTextGrey;
        background-color: $colorBackgroundMain;
    }
    &__elements {
        margin-right: 26px;
    }
    &__elements:last-of-type {
        margin-right: 0px;
    }
    &__add-marg {
        margin-top: 13px;
    }
    &__title {
        position: relative;
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: $colorBlackMain;
        padding-bottom: 8px;
        border-bottom: 1px solid $colorTextGrey;
        width: 235px;
        margin-bottom: 16px;
    }
    &__title:hover {
        @include hoverTextPink();
    }
    &__item_link {
        position: relative;
        text-decoration: none;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: $colorTextGrey;
        display: flex;
        flex-direction: column;
    }
    &__item_link:hover {
        @include hoverTextPink();
    }
    &__img {
        margin-top: 18px;
    }
    &__img:hover {
        @include hoverBtnSngl();
    }
}

// BRAND ---------------------------
.brand {
    background-color: #e8e8e8;
}

.brand__content {
    height: 613px;
    background-image: url(/img/brand_back.jpg);
    background-position: 0 -51px;
    @include centerflex();
    padding-left: 100px;
    max-width: 100%;
    &_main {
        border-left: 12px solid #f16d7f;
        padding-left: 12px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }
    &_h2 {
        font-size: 60px;
        line-height: 1.2;
        letter-spacing: 0.025em;
        color: $colorBlackMain;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 45px;
        margin-bottom: 12px;
    }
    &_p {
        font-size: 40px;
    }
    &_p_pink {
        font-size: 40px;
        color: $colorPinkMain;
    }
}

// OFFER ----------------------------
.offer_grid {
    position: relative;
    margin-top: 98px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 560px);
    grid-template-rows: repeat(3, 261px);
    gap: 20px;
    &__man {
        position: relative;
        grid-row: 1 / span 2;
        background-color: #222222;
        &_text {
            @include offertext();
        }
        &:hover .offer_grid__man_img {
            position: absolute;
            opacity: 0.4;
            transform: scale(1.01);
            transition: 0.4s;
        }
    }
    &__woman {
        position: relative;
        grid-column-start: 2;
        background-color: #222222;
        &_text {
            @include offertext();
        }
        &:hover .offer_grid__woman_img {
            position: absolute;
            opacity: 0.4;
            transform: scale(1.01);
            transition: 0.4s;
        }
    }
    &__wallet {
        position: relative;
        grid-row-start: 3;
        background-color: #222222;
        &_text {
            @include offertext();
        }
        &:hover .offer_grid__wallet_img {
            position: absolute;
            opacity: 0.4;
            transform: scale(1.01);
            transition: 0.4s;
        }
    }
    &__child {
        position: relative;
        grid-row: 2 / span 2;
        background-color: #222222;
        &_text {
            @include offertext();
        }
        &:hover .offer_grid__child_img {
            position: absolute;
            opacity: 0.4;
            transform: scale(1.01);
            transition: 0.4s;
        }
    }
    &__man_img {
        width: 100%;
        position: absolute;
    }
    &__woman_img {
        width: 100%;
        position: absolute;
    }
    &__wallet_img {
        width: 100%;
        position: absolute;
    }
    &__child_img {
        width: 100%;
        position: absolute;
    }
}

.offer_text {
    &__h2 {
        color: #222222;
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.45px;
    }
    &__h3 {
        color: #f16d7f;
        font-size: 30px;
        letter-spacing: 0.75px;
        line-height: 30px;
        text-transform: uppercase;
    }
}

// FEATURED TITLE ---------------------
.featured_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 59px;
    &_h2 {
        font-size: 30px;
        line-height: 54px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: $colorBlackMain;
        margin-bottom: -16px;
    }
    &_p {
        font-size: 14px;
        line-height: 54px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: $colorTextGrey;
    }
}

// FEATURED -----------------------------
// .featured {
//     position: relative;
//     padding-bottom: 50px;
//     max-height: 767px;
//     max-width: 1140px;
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     align-content: space-between;
//     justify-content: center;
//     align-items: center;
//     &__card {
//         position: relative;
//         width: 261px;
//         height: 364px;
//         margin-bottom: 60px;
//     }
//     &_item {
//         width: 263px;
//         height: 364px;
//         position: relative;
//         // overflow: hidden;
//         margin-bottom: 20px;
//         margin-right: 16px;
//         text-decoration: none;
//         background-color: $colorBackgroundMain;
//         &:hover {
//             transform: scale(1.05);
//             transition: 0.2s;
//             box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
//             opacity: 0.7;
//         }
//         &:hover .featured_item_link {
//             display: inline;
//         }
//     }
//     &_item_img {
//         background-color: #222222;
//     }
//     &_link {
//         position: absolute;
//         width: 261px;
//         height: 280px;
//         background-color: #222222;
//         display: none;
//     }
//     &__item_text {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;
//         justify-content: space-evenly;
//         align-content: stretch;
//         flex-wrap: wrap;
//     }
//     &_item_text_h4 {
//         padding-top: 19px;
//         padding-bottom: 17px;
//         padding-left: 14px;
//         font-size: 13px;
//         line-height: 1.2;
//         font-weight: 400;
//         text-transform: uppercase;
//         color: $colorBlackMain;
//     }
//     &_item_text_price {
//         padding-left: 14px;
//         font-size: 16px;
//         line-height: 1.2;
//         font-weight: 700;
//         text-transform: uppercase;
//         color: #f16d7f;
//     }
// }
.items {
    margin-top: 100px;
    margin-bottom: 113px;
    &__title {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.75px;
        text-align: center;
        color: #222222;
    }
    &__subtitle {
        font-size: 14px;
        letter-spacing: 0.35px;
        text-align: center;
        color: #9f9f9f;
    }
    &__wrapper {
        display: flex;
        margin-top: 59px;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }
    &__card {
        position: relative;
        width: 261px;
        height: 364px;
        margin-bottom: 60px;
        &:hover .items__info {
            opacity: 1;
        }
        &:hover {
            box-shadow: 0 5px 8px rgba(0, 0, 0, .2)
        }
    }
    &__info {
        width: 100%;
        height: 77%;
        text-align: center;
        background-color: rgba(0, 0, 0, .5);
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .2s;
        &-link {
            text-decoration: none;
            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }
    }
    &__infoimg {
        vertical-align: sub;
        margin-right: 8px;
    }
    &__link {
        position: absolute;
        top: 30%;
        left: 25%;
        width: 125px;
        border: 1px solid #fff;
        display: block;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        padding: 10px;
        text-decoration: none;
        z-index: 2;
        transition: all .2s;
        &:hover {
            box-shadow: 0 0 10px 2px rgba(221, 221, 221, 1);
        }
        &:active {
            box-shadow: none;
        }
        &:hover .items__img {
            filter: brightness(50%);
        }
    }
    &__name {
        padding-left: 14px;
        text-transform: uppercase;
        font-size: 13px;
        color: #222222;
        line-height: 3;
    }
    &__price {
        padding-left: 14px;
        font-size: 16px;
        font-weight: bold;
        color: #f16d7f;
    }
}

// BROWSE --------------------------------
.browse_button {
    padding-top: 48px;
    // padding-bottom: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    &_button {
        padding: 15px 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorBackgroundMain;
        background-color: $colorPinkMain;
        border: 2px solid $colorPinkMain;
    }
    &_button:hover {
        @include hoverBtnSngl();
    }
    &_arrow {
        padding-left: 9px;
        padding-bottom: 3px;
        font-size: 15px;
        line-height: 54px;
        font-weight: 400;
        letter-spacing: 0.025em;
    }
}

// SPECIAL --------------------------------
.special {
    width: 1140px;
    height: 529px;
    padding-bottom: 97px;
    padding-top: 113px;
    display: flex;
    flex-direction: row-reverse;
    &_left {
        // position: absolute;
        width: 767px;
        height: 529px;
        background-image: url(/img/special_offer.png);
        // background-image: url(/img/special_back_b.jpg);
        filter: alpha(opacity=10);
        width: 100%;
        background-repeat: no-repeat;
    }
    &__left_b {
        width: 767px;
        height: 529px;
        background-image: url(/img/special_offer.png);
        width: 100%;
        background-repeat: no-repeat;
        filter: alpha(opacity=10);
        opacity: 0.9;
    }
    &_left_h4 {
        padding-top: 146px;
        padding-left: 39px;
        font-size: 53.7px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: $colorBackgroundMain;
    }
    &_left_span {
        color: $colorPinkMain;
    }
    &_left_p {
        padding-left: 39px;
        font-size: 32.2px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: $colorBackgroundMain;
    }
    &_right {
        position: absolute;
        width: 373px;
        height: 529px;
        background-color: #222224;
        display: flex;
        flex-direction: row;
        &_svg {
            display: flex;
            flex-direction: column;
            padding-top: 48px;
            padding-left: 36px;
            width: 45px;
            height: 32px;
            gap: 114px;
        }
        &_text {
            display: flex;
            flex-direction: column;
            padding-top: 47px;
            padding-left: 33px;
            padding-right: 43px;
            flex-wrap: wrap;
            justify-content: center;
            align-content: flex-start;
            align-items: flex-start;
        }
        &_text_h3 {
            padding-bottom: 19px;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: $colorBackgroundMain;
        }
        &_text_p {
            padding-bottom: 16px;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: $colorBackgroundMain;
        }
    }
}

// BOTTOM ---------------------------------
.bot {
    height: 448px;
    background-image: url(img/subscribeBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    min-height: 448px;
    flex-direction: row;
    align-items: center;
}

.bottom_left {
    margin-left: -15px;
    padding-top: 83px;
    // padding-bottom: ;
    &_h2 {
        width: 386px;
        height: 68px;
        display: flex;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        color: $colorBlackMain;
        font-style: italic;
        letter-spacing: 0.025em;
        text-align: left;
    }
    &_h3 {
        display: flex;
        flex-direction: column;
        width: 100px;
        padding-top: 19px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: $colorPinkMain;
    }
    &_h3_span {
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
        color: $colorBlackMain;
        font-style: normal;
    }
    &_links {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        padding-top: 41px;
        padding-bottom: 156px;
        gap: 13px;
        &_link {
            width: 38px;
            height: 4px;
            background-color: $colorBorderGrey;
        }
        &_link:hover {
            width: 38px;
            height: 4px;
            background-color: $colorPinkMain;
        }
    }
}

.bottom_left_portrait {
    width: 83px;
    height: 83px;
    padding-top: 83px;
    padding-bottom: 224px;
}

.bottom_left span {
    color: $colorBlackMain;
    font-family: "Lato";
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.bottom_right {
    width: 557px;
    height: 142px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.bottom_right h1 {
    color: $colorBlackMain;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}

.bottom_right p {
    color: $colorBlackMain;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.form {
    display: flex;
}

.input {
    margin-top: 32px;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    background: $colorBackgroundMain;
    box-sizing: border-box;
    width: 100%;
    height: 49px;
    padding-left: 20px;
    border: 1px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: $colorBlackMain;
    opacity: 0.67;
}

.field:hover {
    box-shadow: 2px 4px 25px rgba(54, 54, 54, 0.21);
    background-color: $colorPinkMain;
    color: $colorBackgroundMain;
    transform: scale(1.1);
    transition: 0.7s;
}

.field {
    margin-top: 32px;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    width: 100px;
    height: 49px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $colorBackgroundMain;
    background: $colorPinkMain;
    border: 1px;
    padding: 7px 7px 6px 16px;
    cursor: pointer;
}

// BOTTOM NAVI --------------------------
.add_navi {
    height: 458px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &_1col {
        width: 427px;
        gap: 29px;
        &_text {
            padding-top: 29px;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: $colorTextGrey;
        }
    }
    &_2col {
        width: 200px;
        &_h3 {
            // padding-top: 80px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: $colorPinkMain;
            display: flex;
        }
        &_categories {
            list-style-type: none;
            padding-top: 20px;
            height: 179px;
        }
        &_links {
            font-size: 16px;
            line-height: 59px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: $colorTextGrey;
            text-decoration: none;
            line-height: 2.8;
        }
        &_h3:hover {
            transform: scale(1.1);
            transition: 0.3s;
            color: $colorBlackMain;
        }
        &_links:hover {
            transform: scale(1.8);
            transition: 0.3s;
            color: $colorPinkMain;
        }
    }
}

.footer {
    height: 79px;
    background-color: $colorBorderGrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &_text {
        font-size: 9px;
        line-height: 42px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #7a7a7a;
    }
    &_links {
        display: flex;
        gap: 8px;
        color: $colorBorderGrey;
    }
    &_links_img:hover {
        // box-shadow: 2px 4px 25px rgba(54, 54, 54, 0.21);
        background-color: $colorPinkMain;
        color: $colorPinkMain;
        transform: scale(1.4);
        transition: 0.7s;
    }
}

// SINGLE PAGE!!!!!!!!!!!!!!!!!!!!!!!!!!!
.top-head {
    background-color: $colorPinkBack;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        color: $colorPinkMain;
    }
}

.breadcrumbs {
    &__ul {
        list-style-type: none;
        display: flex;
    }
    &__li:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #5D5D5D;
        text-decoration: none;
    }
    &__link {
        color: $colorBackgroundMain;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #5D5D5D;
        text-decoration: none;
    }
    &__li:last-child .breadcrumbs__link {
        font-weight: 700;
        color: $colorPinkMain;
    }
}

.breadcrumbs__link:hover {
    @include hoverTextPink();
    color: $colorPinkMain;
}

.breadcrumbs__link_site:hover {
    @include hoverTextPink();
    color: $colorBlackMain;
}

.carousel-box {
    // position: absolute;
    height: 777px;
    background-color: $colorShowroom;
}

.carousel {
    // position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__img {
        padding-top: 11px;
        width: 597px;
        height: 724px;
        background-attachment: scroll;
    }
    &__move {
        width: 47px;
        height: 47px;
        background-color: rgba(42, 42, 42, 0.14);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    &__move:hover {
        @include hoverBtnSngl();
        background-color: $colorPinkMain;
    }
    &__arrows {
        width: 9px;
        height: 12px;
        font-family: 'Font Awesome';
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
        color: $colorBackgroundMain;
    }
}

.control-box {
    width: 1141px;
    height: 730px;
}

.control__upper {
    position: absolute;
    width: 1141px;
    height: 730px;
    border: 1px solid #eaeaea;
    background-color: $colorBackgroundMain;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: -73px;
    &_h2 {
        margin-top: -30px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: $colorPinkMain;
    }
    &_a {
        width: 147px;
        height: 1px;
        background-color: $colorTextGrey;
        border: 1px solid $colorBorderGrey;
        margin-top: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_a_img {
        width: 63px;
        height: 4px;
        background-color: $colorPinkMain;
    }
    &_h3 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 900;
        text-transform: uppercase;
        color: $colorTextDarkGrey;
        margin-top: 17px;
    }
    &_p {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: $colorTextGrey;
        width: 600px;
        height: 150px;
        margin-top: 50px;
        text-align: center;
    }
    &_lateral {
        display: flex;
        gap: 44px;
    }
    &_h4 {
        // font-family: Lato;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: $colorTextGrey;
    }
    &_span {
        color: $colorTextDarkGrey;
    }
    &_h5 {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: $colorPinkMain;
        margin-top: 37px;
    }
    &_line {
        width: 642px;
        height: 1px;
        background-color: $colorBorderGrey;
        margin-top: 43px;
    }
}

.control {
    &__choose-blocks {
        margin-top: 63px;
        gap: 53px;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    &__parts {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__text_details {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: $colorTextDarkGrey;
    }
    &__details {
        width: 144px;
        height: 35px;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorBorderGrey;
        display: block;
        text-decoration: none;
        box-sizing: border-box;
        padding-left: 14px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    &__details:hover {
        @include hoverBtnSngl()
    }
    &__details option {
        width: 144px;
        height: 100px;
    }
    &__quantity {
        width: 144px;
        height: 35px;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorBorderGrey;
        display: block;
        text-decoration: none;
        box-sizing: border-box;
        padding-left: 14px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    &__quantity:hover {
        @include hoverBtnSngl()
    }
    &__add_to_btn {
        margin-top: 28px;
        width: 537px;
        height: 55px;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorPinkMain;
        gap: 15px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    &__add_to_btn:hover {
        @include hoverBtnSngl()
    }
    &__add_to_btn_img {
        width: 26px;
        height: 24px;
    }
    &__add_to_btn_p {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        color: $colorPinkMain;
    }
}

.maylike {
    width: 1141px;
    height: 645px;
    &__h2 {
        padding-top: 30px;
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: $colorTextDarkGrey;
        text-align: center;
    }
    &__content {
        padding-top: 72px;
        gap: 32px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    &__block {
        width: 263px;
        height: 364px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: flex-end;
        align-items: flex-start;
    }
    &__back {
        position: relative;
        width: 261px;
        height: 280px;
        background-color: #e9e9e9;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img {
        position: relative;
        width: 93px;
        height: 270px;
    }
    &__h3 {
        position: relative;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: $colorTextGrey;
        margin-top: 18px;
        padding-left: 15px;
    }
    &__price {
        position: relative;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorPinkMain;
        padding-left: 15px;
        padding-top: 17px;
    }
    &__img_special {
        width: 261px;
        height: 280px;
    }
}

//  SHOPPING CART
.product-details {
    width: 1141px;
    height: 529px;
    padding-top: 90px;
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    &__head {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.015em;
        color: $colorBlackMain;
        border-bottom: 1px solid $colorBorderGrey;
        padding-bottom: 22px;
    }
    &__left {
        margin-right: 180px;
    }
    &__product {
        padding-top: 43px;
        border-bottom: 1px solid $colorBorderGrey;
        padding-bottom: 20px;
    }
    &__details {
        gap: 21px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    &__img {
        width: 100px;
        height: 115px;
        padding-bottom: 20px;
    }
    &__name {
        display: flex;
        margin-right: 110px;
    }
    &__title {
        margin-top: 5px;
        margin-left: 21px;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #222222;
    }
    &__description {
        margin-top: 28px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: $colorBlackMain
    }
    &__description__span {
        font-weight: 300;
        color: #6f6e6e;
    }
    &__unite-price {
        margin-left: 10px;
    }
    &__quantity {
        box-sizing: border-box;
        margin-left: 20px;
        width: 54px;
        height: 30px;
        border: 1px solid $colorTextGrey;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__shipping {
        margin-left: 10px;
    }
    &__subtotal {
        margin-left: 25px;
        margin-right: 25px;
    }
    &__action {
        padding-right: 15px;
    }
    &__action:hover {
        @include hoverTextPink();
    }
    // &__last {
    //     // margin-bottom: 44px;
    // }
}

.clear-shopping-buttons {
    padding-top: 190px;
    width: 1141px;
    height: 134px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__clear {
        width: 235px;
        height: 50px;
        border-color: $colorTextGrey;
        background-color: $colorBackgroundMain;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
    }
    &__clear:hover {
        @include hoverBtnSngl();
    }
    &__shopping {
        width: 225px;
        height: 50px;
        border-color: $colorTextGrey;
        background-color: $colorBackgroundMain;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
    }
    &__shopping:hover {
        @include hoverBtnSngl();
    }
}

.user-data {
    // padding-bottom: 137px;
    width: 1141px;
    height: 350px;
    display: flex;
    flex-direction: row;
    &__adress {
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorBlackMain;
    }
    &__country-select {
        position: relative;
        margin-top: 20px;
        width: 355px;
        height: 45px;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorBorderGrey;
    }
    &__country-values {
        position: absolute;
        padding-left: 10px;
        padding-right: 10px;
        width: 355px;
        height: 45px;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorBorderGrey;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        color: $colorTextDarkGrey;
    }
    &__country-select.select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: $colorPinkMain transparent transparent transparent;
    }
    &__input-state {
        width: 333px;
        height: 45px;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorBorderGrey;
        padding: 0 12px;
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        color: $colorTextGrey
    }
    &__quote-btn {
        margin-top: 23px;
        width: 100px;
        height: 35px;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorBorderGrey;
        font-size: 11px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorTextDarkGrey;
    }
    &__quote-btn:hover {
        @include hoverTextPink();
    }
    &__coupon {
        margin-left: 35px;
        display: flex;
        flex-direction: column;
    }
    &__title2 {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorBlackMain;
    }
    &__paraph {
        margin-top: 28px;
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 400;
        color: $colorBlackMain;
    }
    &__coupon-btn {
        margin-top: 25px;
        width: 118px;
        height: 35px;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorBorderGrey;
        font-size: 11px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorTextDarkGrey;
    }
    &__coupon-btn:hover {
        @include hoverTextPink();
    }
    &__total {
        margin-left: 36px;
        width: 360px;
        height: 214px;
        background-color: $colorBorderGrey;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
    &__sub-total {
        margin-top: 40px;
        margin-right: 41px;
        font-size: 12px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: $colorTextDarkGrey;
    }
    &__grand-total {
        margin-top: 14px;
        margin-right: 41px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorBlackMain;
        border-bottom: 1px solid $colorTextGrey;
        padding-bottom: 22px;
    }
    &__grand-total-span {
        color: $colorPinkMain;
    }
    &__underline {
        padding-bottom: 22px solid $colorTextDarkGrey;
    }
    &__proceed-btn {
        margin-top: 17px;
        margin-right: 40px;
        width: 273px;
        height: 50px;
        background-color: $colorPinkMain;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorBackgroundMain;
        border: none;
    }
    &__proceed-btn:hover {
        @include hoverBtnSngl();
    }
}

.checkout {
    padding-top: 89px;
    padding-bottom: 890px;
    width: 1600px;
    height: 13px;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    &__main {
        border-bottom: 1px solid $colorBorderGrey;
        padding: 20px;
    }
    &__items {
        margin-top: 0px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorBlackMain;
    }
    &__content {
        display: flex;
        flex-direction: row;
    }
    &__guest-or-regist {
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-size: 13px;
        line-height: 1.2;
        font-weight: 600;
        text-transform: uppercase;
        color: $colorBlackMain;
        box-sizing: border-box;
        display: block;
        padding-top: 39px;
        padding-left: 40px;
    }
    &__paraph {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: $colorTextGrey;
        box-sizing: border-box;
        display: block;
        padding-top: 15px;
        padding-left: 40px;
    }
    &__labels {
        padding-top: 34px;
        padding-left: 40px;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 600;
        text-transform: uppercase;
        color: $colorBlackMain;
    }
    &__input-guest {
        padding-bottom: 20px;
        box-sizing: border-box;
    }
    &__input-guest:hover {
        @include hoverTextPink();
    }
    &__input-regist {
        margin-top: 20px;
    }
    &__input-regist:hover {
        @include hoverTextPink();
    }
    &__span {
        box-sizing: border-box;
        padding-left: 20px;
    }
    &__h2 {
        box-sizing: border-box;
        padding-left: 40px;
        padding-top: 33px;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: $colorBlackMain;
    }
    &__p {
        box-sizing: border-box;
        padding-left: 40px;
        padding-top: 33px;
        padding-bottom: 33px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: $colorTextGrey;
    }
    &__p2 {
        padding-left: 40px;
        box-sizing: border-box;
        height: 20px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: $colorTextGrey;
    }
    &__p3 {
        padding-top: 5px;
        padding-left: 40px;
        padding-bottom: 38px;
        box-sizing: border-box;
        height: 20px;
        width: 300px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: $colorTextGrey;
    }
    &__btn-continue {
        margin-top: 38px;
        margin-left: 40px;
        width: 180px;
        height: 50px;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorBorderGrey;
    }
    &__btn-continue:hover {
        @include hoverBtnSngl();
    }
    &__btn-continue-span {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorTextDarkGrey;
    }
    &__forms {
        padding-left: 349px;
    }
    &__legend-input {
        padding-left: 40px;
        padding-top: 27px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        color: $colorBlackMain;
    }
    &__legend-input-span {
        color: red;
        font-size: 16px;
        font-weight: 900;
    }
    &__input {
        margin-left: 40px;
        margin-top: 16px;
        padding: 0 10px;
        width: 390px;
        height: 45px;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorBorderGrey;
    }
    &__input:hover {
        @include hoverBtnSngl();
    }
    &__required-fields {
        padding-top: 22px;
        padding-bottom: 32px;
        padding-left: 40px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: red;
    }
    &__log-in-btn {
        margin-left: 40px;
        margin-top: 20px;
        width: 180px;
        height: 50px;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorBorderGrey;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorTextDarkGrey;
    }
    &__log-in-btn:hover {
        @include hoverBtnSngl();
    }
}

// PRODUCT ----------------------------------
.interface {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    &__details {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &__details summary::before {
        content: ' ';
        display: inline-block;
        background: url(img/browse_btn_arrow_wht.png);
        height: .8em;
        width: .8em;
        background-size: .8em .8em;
    }
    &__details[open] summary::before {
        transform: rotate(90deg);
    }
    &__menu {
        width: 152px;
    }
    &__summary {
        box-sizing: border-box;
        width: 152px;
        height: 37px;
        display: flex;
        align-items: center;
        // justify-content: space-around;
        border-left: 5px solid $colorPinkMain;
        border-bottom: 1px solid $colorBorderGrey;
    }
    &__title {
        margin-left: 11px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ef5b70;
    }
    &__enum_li {
        list-style-type: none;
        box-sizing: border-box;
        margin-left: 11px;
    }
    &__enum_li:first-child {
        margin-top: 22px;
    }
    &__enum_li:hover {
        @include hoverTextPink();
    }
    &__a_li {
        text-decoration: none;
        font-size: 14px;
        line-height: 33px;
        font-weight: 400;
        color: #6f6e6e;
    }
    &__a_li:hover {
        @include hoverTextPink();
    }
}

.product-content {
    display: flex;
    flex-direction: column;
}

.product-container {
    width: 846px;
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    &__title {
        margin-left: 10px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: $colorTextGrey;
    }
    &__checkout {
        display: flex;
        flex-direction: row;
    }
    &__link-cluster {
        padding-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 200px;
        height: 15px;
    }
    &__link-cluster:last-child {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 200px;
        height: 15px;
    }
    &__link {
        margin-left: 10px;
        text-decoration: none;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        color: $colorTextGrey;
        border-right: 1px solid $colorBorderGrey;
        padding-right: 20px;
    }
    &__link:last-child {
        border-right: 1px solid $colorBackgroundMain;
    }
    &__link:hover {
        @include hoverTextPink();
    }
    &__size {
        margin-left: 130px;
        width: 300px;
        height: 50px;
    }
    &__flags {
        margin-top: 20px;
        margin-left: 12px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 9px;
    }
    &__flags:last-child {
        margin-top: 8px;
    }
    &__checkbox-text {
        margin-right: 11px;
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: $colorTextGrey;
    }
    &__price {
        padding-left: 30px;
    }
    &__range {
        margin-top: 20px;
        margin-left: 10px;
    }
    &__costs {
        margin-left: 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__costs-p {
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        color: $colorTextGrey;
    }
}

.product-choice {
    width: 846px;
    height: 50px;
    box-sizing: border-box;
    background-color: #f3f3f3;
    margin-left: 60px;
    margin-top: 41px;
    display: flex;
    flex-direction: row;
    &__sort {
        width: 153px;
        height: 30px;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorBorderGrey;
        margin: 10px 0 0 9px;
        display: flex;
        flex-direction: row;
    }
    &__sort:last-child {
        width: 119px;
    }
    &__sort-btn {
        padding-top: 3px;
        width: 66px;
        height: 30px;
        text-align: center;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        color: $colorTextGrey;
        border-radius: 0%;
        border: $colorBackgroundMain;
        border-right: 1px solid $colorBorderGrey;
        background-color: $colorBackgroundMain;
    }
    &__sort-btn:hover {
        @include hoverBtnSngl();
    }
    &__select {
        padding-left: 3px;
        width: 90px;
        height: 30px;
        border-radius: 0%;
        border: 1px solid $colorBorderGrey;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        color: $colorTextGrey;
    }
    &__option {
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        color: $colorTextGrey;
    }
}

.product-offers {
    // position: absolute;
    display: flex;
    flex-direction: row;
    padding-top: 48px;
    padding-left: 60px;
    flex-wrap: wrap;
    &__display {
        position: relative;
        width: 263px;
        height: 364px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 31px;
        margin-bottom: 38px;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        margin-left: 15px;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 600;
        text-transform: uppercase;
        color: $colorTextGrey;
    }
    &__price {
        margin-left: 15px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #f16d7f;
        margin-bottom: 21px;
    }
}

.product-navi {
    width: 846px;
    height: 44px;
    margin-top: 43px;
    margin-bottom: 110px;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__link-box {
        width: 261px;
        height: 44px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        border: 1px solid $colorBorderGrey;
    }
    &__arrow-left {
        margin-top: 7px;
        width: 10px;
        height: 26px;
        rotate: 180deg;
        color: $colorTextGrey;
    }
    &__arrow-right {
        margin-top: 7px;
        width: 10px;
        height: 26px;
        color: $colorTextGrey;
    }
    &__link {
        text-decoration: none;
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        color: $colorTextGrey;
    }
    &__link:hover {
        @include hoverTextPink();
    }
    &__box-btn {
        width: 150px;
        height: 44px;
        background-color: $colorBackgroundMain;
        border: 1px solid $colorPinkMain;
        border-radius: 3px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        color: $colorPinkMain;
    }
    &__box-btn:hover {
        @include hoverBtnSngl();
    }
}

.special-offer {
    width: 1141px;
    height: 341px;
    background-color: $colorBlackMain;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    &__box {
        width: 308px;
        height: 138px;
        margin-top: 89px;
        margin-bottom: 114px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        width: 45px;
        height: 32px;
        // background-color: $colorPinkMain;
    }
    &__title {
        text-align: center;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: $colorBorderGrey;
    }
    &__paraph {
        box-sizing: border-box;
        width: 308px;
        height: 35px;
        text-align: center;
        font-size: 12px;
        line-height: 23px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: $colorBorderGrey;
    }
}